@charset 'UTF-8';


/* ---------------------------------
    SETUP
------------------------------------ */
html {height:100%; width:100%; background-color:#262626;}
body {background-color:transparent; font-family:'Sentinel A', 'Sentinel B', Georgia, serif; color:#707070; height:100%; width:100%; padding:0; margin:0; font-size:16px;
    -webkit-font-smoothing:antialiased;
}

a {color:#000; text-decoration:none; outline:0;}
a:hover,
a:focus {text-decoration:underline; color:#707070;}
a svg * {transition:all 0.1s ease;}
a svg #BG,
a svg #BG * {fill:#fff;}
a svg #Form,
a svg #Form * {fill:#000;}
a:hover svg #BG,
a:focus svg #BG,
a:hover svg #BG *,
a:focus svg #BG * {fill:#aaa;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .logo p.hidden-mobile {font-family:'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:600; color:#000; line-height:1.5em; text-transform:uppercase; letter-spacing:2px;}
h5, h6, .h5, .h6 {font-family:'Sentinel A', 'Sentinel B', Georgia, serif;}

h1, .h1 {font-size:1.2em; line-height:1.7em; font-weight:700; letter-spacing:3px;}
h2, .h2 {font-size:0.8em;}
h3, .h3 {font-size:1.2em; line-height:1.2em; font-family:'Gotham Cond SSm A', 'Gotham Cond SSm B', 'Arial Narrow', sans-serif;}
h4, .h4 {font-size:1.2em;}
h5, .h5 {font-size:0.75em; line-height:1.4em; letter-spacing:1px; font-weight:normal;}
h6, .h6 {font-size:0.8em; letter-spacing:1px; font-weight:300;}

p {font-size:1.4em; line-height:1.5em; color:#666;}

blockquote {margin:20px 20px 0; border-left:3px solid rgba(0, 0, 0, 0.1); padding:20px;}

ul {padding:10px 0 0;}
ul li {padding:9px 0;}
ol {padding:10px 40px 0;}
ol li {padding:5px 0;}

hr {background-color:#000; height:1px; border:0; margin:0 10px; clear:both;}
hr.title-underline {margin:20px auto 40px; width:170px;}
hr.divider {margin:40px auto; width:100px; background-color:#666;}

.section-title, .logo p.hidden-mobile {font-size:1.2em; font-weight:700; letter-spacing:3px;}
.section-title {line-height:1.7em; text-align:center;}
.logo p.hidden-mobile {line-height:1em;}

.position-title-header {padding-right:10px;}
.position-title {font-family:'Sentinel A', 'Sentinel B', Georgia, serif; color:#666; font-weight:400; font-style:normal; font-size:1.05em;}

.section-subtitle {margin:0 auto 30px; text-align:center; width:67%;}
hr.title-underline + .section-subtitle {margin-top:-10px;}
.section-title + .section-subtitle {margin-top:20px;}

input,
.button {font-family:'Sentinel A', 'Sentinel B', Georgia, serif; font-weight:400; font-style:normal; outline:0; border:1px solid #000; background-color:transparent; color:#000; padding:14px 30px;
    -webkit-font-smoothing:antialiased;
}
input:active,
input:focus {background-color:transparent;}
.button {display:inline-block; margin:0 auto; letter-spacing:1px; font-size:0.9em; transition:all 0.1s ease;}
.button:hover,
.button:focus {background-color:#000; color:#fff; text-decoration:none;}

.hidden-desktop {display:none;}
.hidden-mobile {display:block;}
.common-center {margin:0 auto; text-align:center; width:67%;}
.last-letter {letter-spacing:0;}
.screen-reader-only, .move-off-screen {position:absolute; left:-5000px;}
.screen-reader-only {font:0/0 a;}



/* ---------------------------------
    HOME BG (z-index: -13, -12, -11)
------------------------------------ */
.bg-imges-fade,
.bg-images-rotating-banner {position:fixed; top:0; left:0; width:100%; height:100%; z-index: -20;}
.bg-img {position:absolute; top:0; left:0; bottom:0; width:100%; background:#fff none center center no-repeat; background-size:cover;}
.bg-img--fade.bg-img--over {background-image:url(../img/BGS/bg-bw.jpg); z-index:-11;}
.bg-img--fade.bg-img--under {background-image:url(../img/BGS/bg-color.jpg); z-index:-12;}

.bg-img--rotating-banner {z-index:-13; background-size:contain;}
.bg-img--rotating-banner.bg-img--active {z-index:-11;}
.bg-img--rotating-banner.bg-img--prev {z-index:-12;}

@media screen and (max-width:959px) and (orientation:portrait), screen and (max-width:767px) {
    .bg-img.bg-img--rotating-banner {background-image:none;}
}



/* ---------------------------------
    ITEMS W/ or W/O HOVER CONTENT
------------------------------------ */
a.item {position:relative; margin-bottom:20px; overflow:hidden;}
a.item img {width:100%; display:block;}
a.item:hover,
a.item:focus {text-decoration:none;}

a.item .hover-group {background-color:rgba(57, 57, 57, 0.92); text-align:center; position:absolute; top:0; left:0; bottom:0; width:0; overflow:hidden;}
a.item:hover .hover-group,
a.item:focus .hover-group,
a.item:active .hover-group {width: 100%;}
a.item .hover-group-inner {position:absolute; top:50%; width:100%; padding:0 10px; box-sizing:border-box;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%);
}
a.item .hover-group-inner *:last-child {margin-bottom:0 !important; padding-bottom:0 !important;}
a.item .hover-group .project-category,
a.item .hover-group .teammate-position {margin-bottom:15px; color:#fff; text-transform:uppercase;}
a.item .hover-group hr {background-color:#fff; width:40px; margin:0 auto 15px;}
a.item .hover-group .project-name,
a.item .hover-group .teammate-name {letter-spacing:1px; color:#fff; margin-bottom:10px; text-transform:uppercase;}
a.item .hover-group .project-type,
a.item .hover-group .teammate-bio {color:#fff; margin-bottom:3px; font-size:0.85em; text-transform:uppercase;}
a.item svg {width:30px; height:30px;}
a.item svg #Arrow {fill:#fff;}




/* ---------------------------------
    EMAIL SIGNUP FORMS
    these target multiple ids exactly the way i updated the subscribe-signup.js
------------------------------------ */
[id^="mc_embed_signup"] {margin-bottom:30px; position:relative;}
[id^="mc_embed_signup"] input {border-color:#fff; width:100%; color:#fff; box-sizing:border-box; border-radius:0;}
[id^="mc_embed_signup"] input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #454545 inset; /* Change the color to your own background color */
    -webkit-text-fill-color:#fff;
}
[id^="mc_embed_signup"] button.button {border-width:0; color:#fff; padding:0; position:absolute; top:38px; right:0; width:89px;}
[id^="mc_embed_signup"] button.button svg {width:49px; height:49px;}
[id^="mc_embed_signup"] button.button svg #Arrow {fill:#fff;}
[id^="mc_embed_signup"] button.button:hover,
[id^="mc_embed_signup"] button.button:focus {background-color:transparent;}
[id^="mc_embed_signup"] button.button:hover svg #Arrow,
[id^="mc_embed_signup"] button.button:focus svg #Arrow {fill:#bbb;}
[id^="mc_embed_signup"] ::-webkit-input-placeholder,
[id^="mc_embed_signup"] :-moz-placeholder,
[id^="mc_embed_signup"] ::-moz-placeholder,
[id^="mc_embed_signup"] :-ms-input-placeholder {color:#666; opacity:1;}

[id^="mc_embed_signup"] #mce-responses .response {display:none;} /* used to be inline styles, probably important for design */




/* ---------------------------------
    MODALS (z-index: -99, 9000001)
------------------------------------ */
.modal {z-index:-99; position:relative; pointer-events:none; overflow: hidden;}
.modal__bg {position:fixed; top:0; right:0; bottom:0; left:0; z-index:0; background:rgba(0,0,0,0.7);}
.modal__body {position:fixed; top:50%; left:50%; width:550px; z-index:1; background:#fff; box-sizing:border-box; padding:35px 30px; text-align:center;
    /* fix for transition issue in chrome */
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%);
}
.modal__body .modal__header {margin-bottom: 10px;}
.modal__body .close-button {font-size:24px; line-height:0.5em; font-weight: bold; position:absolute; right: 10px; top: 10px;}
.modal__body .close-button:hover {text-decoration:none;}
.modal__body [id^="mc_embed_signup"] {margin-top:45px; margin-bottom:0;}
.modal__body [id^="mc_embed_signup"] .contact-header {display:none;}
.modal__body [id^="mc_embed_signup"] input {border-color:#000; margin-bottom:0; color:#666;}
.modal__body [id^="mc_embed_signup"] button.button {top:0;}
.modal__body [id^="mc_embed_signup"] button.button svg #Arrow {fill:#333;}
.modal__body [id^="mc_embed_signup"] button.button:hover svg #Arrow,
.modal__body [id^="mc_embed_signup"] button.button:focus svg #Arrow {fill:#000;}

.modal--visible {z-index:9000001; pointer-events:auto;}




/* ---------------------------------
    NAV BAR (z-index: 9000000)
    z-index needs to be above default pinterest hover button. it's dumb, but has to be done
------------------------------------ */
header#navbar {background-color:#000; position:fixed; top:0; z-index:9000000; width:100%;}
header#navbar .logo {float:left; margin:15px 0 0 10px;}
header#navbar .logo a:hover,
header#navbar .logo a:focus {text-decoration:none;}
header#navbar .logo p.hidden-mobile {color:#fff; letter-spacing:9px; font-size:1.1em; line-height:1.3em;}
header#navbar .logo img {height:40px; margin-top:-5px; margin-bottom:10px;}
header#navbar .menu {float:right; cursor:pointer; margin-top:10px; width:auto; padding:8px 0 15px 5px; white-space: nowrap; font-size:30px; line-height:20px; color:#fff; font-family:Arial; letter-spacing:2px;}
header#navbar .menu:after {content: "•••";}
header#navbar .menu img {display: none;}
header#navbar nav {font-size:0.875em; line-height:1em; float:right; margin-right:10px;}
header#navbar nav ul {list-style:none;}
header#navbar nav ul li {float:left; padding:0 18px;}
header#navbar nav ul li:first-child {padding-left:0;}
header#navbar nav ul li:last-child {padding-right:0;}
header#navbar nav a {font-family:'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:700; font-style:normal; letter-spacing:1px; color:#fff; padding:25px 0; display:block; text-decoration:none; font-size:1.0em; text-transform:uppercase; transition:color 0.1s ease-in;}
header#navbar nav a:hover,
header#navbar nav a:focus,
header#navbar nav li.active a {color:#aaa;}
header#navbar nav a svg {height:1.3em; width:1.3em; margin-top:-4px;}




/* ---------------------------------
    FOOTER
------------------------------------ */
footer#footer {background-color:#262626; position:relative; z-index:0;}
footer#footer small {text-align:center; line-height:1.5em; display:block; padding-top:0; padding-bottom:60px; font-family:'Sentinel A', 'Sentinel B', Georgia, serif; font-weight:400; font-style:normal; letter-spacing:1px; font-size:0.91em; color:#fff;}




/* -------------------------------------------------------------------------------------------------------------
    CONTENT SECTIONS (z-index: 0)
    // mostly these are home page sections
-------------------------------------------------------------------------------------------------------------*/
section {padding-top:100px; padding-bottom:100px; background-color:#fff; position:relative; z-index:0;}



/* ---------------------------------
    WELCOME SECTION (z-index: -10)
------------------------------------ */
section#welcome {height:100%; clear:both; background-color:transparent; padding:0; text-align:center; z-index:auto;}
section#welcome .content-wrap {position:fixed; top:45%; left:50%; transform:translate(-50%,-50%) !important;}
section#welcome .logogroup {font-size:16px; width:34em; margin:0 auto; position:relative; z-index:4;}
section#welcome .logogroup .logo {margin:0 auto; width:16em; margin-bottom:2.5em;}
section#welcome .logogroup .logo-name {font-size:1.5em; padding:0.45em 0; background-color:#fff; letter-spacing:0.5em; white-space:nowrap; margin:0 1em 1.667em;}
section#welcome .logogroup .logo-subtext {font-size:1.7em; font-weight:normal; letter-spacing:0.12em; color:#fff; margin-bottom:0.75em;}
section#welcome .logogroup .logo-location {font-size:1em; color:#fff; letter-spacing:0.1875em; margin-bottom:2.0625em;}
section#welcome .content-wrap svg {width:45px; height:45px; border:4px solid #000; background-color:#000; position:relative; z-index:3; left:-1px; display:block; margin:0 auto; transform:rotate(90deg) !important;}
section#welcome .content-wrap svg #Arrow {fill:#fff;}

section#welcome .content-wrap.hide-elements-when-short .logo-name,
section#welcome .content-wrap.hide-elements-when-short .logo-location {position:absolute; left:-5000px;}
section#welcome .content-wrap.hide-elements-when-short svg {display:none;}

/* home-page--v2 is live. if home-page--v1 is deleted (currently index-v1) then these can be combined into the other css */
.home-page--v2 section#welcome {text-align:left;}
.home-page--v2 section#welcome .logogroup {width:auto; text-align:center;}
.home-page--v2 section#welcome .logogroup .logo-name {background-color:transparent; color:#000; margin-left:auto; margin-right:auto; margin-bottom: 0.25em;}
.home-page--v2 section#welcome .logogroup .logo-subtext {color:#000;}
.home-page--v2 section#welcome .logogroup .logo-location {color:#000;}
.home-page--v2 section#welcome .logogroup svg {background:transparent; border:0 none;}
.home-page--v2 section#welcome .content-wrap svg #Arrow {fill:#000;}

@media screen and (min-width:768px) {
    .home-page--v2 section#welcome .logogroup {display:inline-block; margin:0 10px;}
}




/* ---------------------------------
    WORK HIGHLIGHTS SECTION
------------------------------------ */
section#work-highlights {padding-bottom:40px;}
section#work-highlights a.button {margin:40px auto 0; display:inline-block; position:relative; text-align:center; padding-bottom:0; padding-top:15px; text-transform:uppercase;}
section#work-highlights a.button svg {width:45px; height:45px;}
section#work-highlights a.button:hover svg #Arrow,
section#work-highlights a.button:focus svg #Arrow,
section#work-highlights a.button:active svg #Arrow {fill:#fff;}




/* ---------------------------------
    SERVICES SECTION (z-index: 0, 1)
------------------------------------ */
section#services .section-title:nth-of-type(2) {margin-top:100px;}

section#services a.service-item {text-align:center; margin-top:20px;}
section#services a.service-item:hover,
section#services a.service-item:focus,
section#services a.service-item:active {text-decoration:none;}

section#services a.service-item .services-title {margin:50px -10px 20px; letter-spacing:5px;}
section#services a.service-item .services-title::before,
section#services a.service-item .services-title::after {content:"–"; visibility:hidden;}
section#services a.service-item:hover .services-title::before,
section#services a.service-item:hover .services-title::after,
section#services a.service-item:focus .services-title::before,
section#services a.service-item:focus .services-title::after,
section#services a.service-item:active .services-title::before,
section#services a.service-item:active .services-title::after {visibility:visible;}

section#services a.service-item .services-list {line-height:2em; letter-spacing:2px;}

section#services a.service-item .services-icon {position:relative; height:auto; width:90%; margin:0 auto; overflow:hidden;}
section#services a.service-item img {position:relative; display:block; z-index:1; background:#000; border-radius:50%; padding:7px; box-sizing:border-box;}
section#services a.service-item img[src*="-hover"] {position:absolute; left:0; top:0; z-index:0;}
    /* when not mobile, reveal hover image */
    body:not(.mobile) section#services a.service-item:hover img[src*="-hover"],
    body:not(.mobile) section#services a.service-item:focus img[src*="-hover"],
    body:not(.mobile) section#services a.service-item:active img[src*="-hover"] {z-index:2;}
    /* if mobile, just don't even display the hover image */
    body.mobile section#services a.service-item img:not([src*="-hover"]) {display:none;}




/* ---------------------------------
    SERVICES STATEMENT (parallax)
------------------------------------ */
section#services-statement {background:url(../img/BGS/bg-parallax-services-statement.jpg) no-repeat center center #262626; padding:140px 0;}
    body:not(.mobile) section#services-statement {background-attachment:fixed;}
section#services-statement .section-title {color:#fff;}
section#services-statement hr {background-color:#fff;}
section#services-statement p.section-subtitle {color:#fff;}




/* ---------------------------------
    CLIENT COMPLIMENTS SECTION
------------------------------------ */
section#client-compliments {background-color:#f7f7f7;}
section#client-compliments p.common-center {margin-bottom:20px; width:85%;}
section#client-compliments .compliment-name,
section#client-compliments .compliment-position {text-align:center;}
section#client-compliments .column6 {margin-bottom:80px;}




/* ---------------------------------
    TEAM SECTION
------------------------------------ */
section#team .hover-group-inner {
    -webkit-transform: translateY(-40%) !important;
    transform: translateY(-40%);
}

/* all stuff that helps with this damned cursor easter egg. delete this to get rid of it. */
section#team .container12 .item {padding-left:10px; padding-right:10px; margin-left:0; margin-right:0;}
section#team .container12 a.item .hover-group {left:10px;}
section#team .container12 a.item:hover .hover-group,
section#team .container12 a.item:focus .hover-group,
section#team .container12 a.item:active {width:calc(100% - 20px);}
section#team .container12 .item[data-url="carolina-pistone"],
section#team .container12 .item[data-url="lauren-golik"] {cursor:url("../img/TEAMMATES/teammate-nathan-sticker.gif"), auto;}
section#team .container12 .item[data-url="carolina-pistone"] img,
section#team .container12 .item[data-url="carolina-pistone"] .hover-group,
section#team .container12 .item[data-url="lauren-golik"] img,
section#team .container12 .item[data-url="lauren-golik"] .hover-group {cursor:auto;}




/* ---------------------------------
    CONTACT SECTION
------------------------------------ */
section#contact {background-color:#262626; padding-bottom:60px; color:#fff;}
section#contact .section-title,
section#contact .contact-header,
section#contact p,
section#contact a {color:#fff;}
section#contact p.section-subtitle {margin-top:30px; margin-bottom:60px; font-size:1em; letter-spacing:2px; text-transform:uppercase;}
section#contact .contact-header {margin-bottom:15px;}
section#contact a:hover,
section#contact a:focus,
section#contact a:active {color:#fff;}
section#contact hr {background-color:#fff; margin:30px 0;}
section#contact p {font-size:1.1em; line-height:1.5em;}

section#contact a.map {display:block; padding-right:10px;}

section#contact .social-icons {margin-top:20px;}
section#contact .social-icons a {display:inline-block; margin-right:13px; border-radius:50%; border:1px solid #262626; height:36px; width:36px;}
section#contact .social-icons a svg {height:36px; width:36px;}
section#contact .social-icons a:hover,
section#contact .social-icons a:focus {border-color:#fff;}
section#contact .social-icons a:hover svg #BG,
section#contact .social-icons a:focus svg #BG {fill:#000;}
section#contact .social-icons a:hover svg #Form,
section#contact .social-icons a:hover svg #Form *,
section#contact .social-icons a:focus svg #Form,
section#contact .social-icons a:focus svg #Form * {fill:#fff;}




/* ---------------------------------
    PROJECT and TEAMMATE NAV SECTIONS
------------------------------------ */
section#project-nav,
section#team-nav {background-color:#f7f7f7;}
section#team-nav .item.prefix1_2:not(:nth-of-type(3n+1)) {padding-left:0;}



/* -------------------------------------------------------------------------------------------------------------
    PAGES
    // includes TEAM pages and PROJECT pages, not work or home
-------------------------------------------------------------------------------------------------------------*/
.page-header {position:relative;}
.page-header .teammate-name {padding-bottom:3px; padding-right:10px;}

.page-subheader .teammate-position {float:left; line-height:1em; margin-top:13px; text-transform:uppercase;}
.page-subheader .social-icons {width:100px; float:right;}
.page-subheader .social-icons a {margin-left:15px; margin-top:8px; display:inline-block; float:right;}
.page-subheader .social-icons a svg {width:16px; height:16px;}
.page-subheader .social-icons a svg #Form,
.page-subheader .social-icons a svg #Form * {fill:#fff;}
.page-subheader .social-icons a svg #BG {fill:#000;}
.page-subheader .social-icons a:hover svg #BG,
.page-subheader .social-icons a:focus svg #BG {fill:#454545;}

.page-side-info {padding:15px 10px 15px 0; position:relative;}
.page-side-info::after {content:""; display:block; position:absolute; top:0; right:0; border-right:1px solid #000; height:500px;}
.page-side-info .side-header {margin-bottom:2px;}
.page-side-info .side-value {margin-bottom:15px;}
.page-side-info .sharing-icons {position:relative; margin-top:5px;}
.page-side-info .sharing-icons > * {float:left; margin-right:10px;}


.page-info {padding-top:15px;}
.page-info p {font-size:1.1em; line-height:1.5em; color:#000; margin:0 0 15px;}
.page-info a {text-decoration:underline;}
.page-info .sharing-icons {position:relative;}
.page-info .sharing-icons > * {float:left; margin-right:10px;}


.project-visuals {padding-top:30px; background-color:#fff; position:relative;}
.project-visuals img,
.project-visuals iframe,
.project-visuals .slides {margin-bottom:15px; position:relative; width:100%;}
.project-visuals iframe {height:630px;}


.nav-wrap a.item {margin-bottom:30px;}
.nav-wrap a.item .project-name {margin-top:10px; white-space:nowrap;}
.nav-wrap a.item .project-type {white-space:nowrap;}
.nav-wrap a.item img:hover {opacity:0.8;}


.img-caption {padding-top: 10px;}
.img-caption p {font-size: 0.9em; line-height: 1.3em; color: #666; margin: 0 0 15px;}




/* ---------------------------------
    HOME PAGE
    body.home-page
------------------------------------ */
body.home-page .sticky-wrapper {background-color:#000; position:absolute; bottom:0; width:100%; z-index:9000000;}
body.home-page header#navbar {position:relative;}
body.home-page .sticky-wrapper.is-sticky header#navbar {position:fixed;}




/* ---------------------------------
    TEAM PAGE
    body.team-page
------------------------------------ */
body.team-page .headshot {margin-right:10px;}
body.team-page .page-info {padding-top:30px;}
body.team-page hr:not(.title-underline) {margin-left:0; margin-right:0;}

body.team-page section#team-content {padding-top:50px;}
body.team-page .nav-wrap .item .hover-group {display:none;}




/* ---------------------------------
    PROJECT PAGE
    body.project-page
------------------------------------ */
body.project-page.project-grouping-page .page-side-info::after {display:none;}
body.project-page section#project-content {padding-top:50px;}




/* ---------------------------------
    WORK PAGE
    body.work-page
------------------------------------ */
body.work-page section#work {padding-top:40px;}
body.work-page section#work nav {font-size:0.9em; line-height:1em; text-align:right; margin-right:10px;}
body.work-page section#work nav ul {list-style:none; margin:0 0 15px; padding:0;}
body.work-page section#work nav ul li {display:inline-block; padding:0 0 0 15px; letter-spacing:1px; height:45px; text-transform:uppercase;}
body.work-page section#work nav ul li a {padding-bottom:1px;}
body.work-page section#work nav ul li:hover a,
body.work-page section#work nav ul li:focus a,
body.work-page section#work nav ul li.active a {color:#000; border-bottom:2px solid #000; text-decoration:none;}

body.work-page .nav-wrap .section-title,
body.work-page .nav-wrap hr.title-underline {display:none;}




/* -------------------------------------------------------------------------------------------------------------
    MEDIA STYLES
-------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) {
    section#client-compliments .container12:last-of-type .column6 {margin-bottom:0;}
}

@media screen and (max-width:1160px) {
    section#services a.service-item .services-title {letter-spacing:3px;}
    section#services a.service-item .services-list {letter-spacing:1px;}
}

@media screen and (max-width:959px) {
    a.item .hover-group .project-category,
    a.item .hover-group .teammate-position { margin-bottom:8px;}
    a.item .hover-group hr {margin-bottom:10px;}
    a.item .hover-group .project-name,
    a.item .hover-group .teammate-name {font-size:1em; line-height:1.4em;}

    header#navbar .logo {margin-top:16px;} /* adjusts to SVG margin-top */
    header#navbar .logo p.hidden-mobile {font-size:1em;}
    header#navbar nav {font-size:0.8em;}
    header#navbar nav ul li {padding:0 12px;}
    header#navbar nav a svg {height:1.1em; width:1.1em; margin-top:-2px;}

    section#welcome .logogroup {font-size:14px;}
}

@media screen and (max-width:767px) {
    .hidden-desktop {display:block;}
    .hidden-mobile {display:none;}

    hr {margin-left:0; margin-right:0;}
    .section-subtitle,
    .common-center {width:auto;}
    .container12 {width:80%; margin:0 auto;}
    body:not(.home-page) section {padding-top:110px;}

    .bg-img.bg-img-over {background-image:url(../img/BGS/bg-bw-mobile.jpg);}
    .bg-img.bg-img-under {background-image:url(../img/BGS/bg-color-mobile.jpg);}

    .modal__body {width:80%;}

    header#navbar .logo {margin-left:0;}
    header#navbar nav {display:none; margin-right:0; position:fixed; right:0; top:0; left:0; bottom:0;}
    header#navbar nav.active {display:block;} /* active class is JS added on mobile */
    header#navbar nav ul {position:absolute; top:0; right:0; left:33.333%; bottom:0; background-color:rgba(0,0,0,0.9); padding:0;}
    header#navbar nav ul li {float:none; display:block; padding:0;}
    header#navbar nav ul li.hidden-mobile {display:none;}
    header#navbar nav ul li.hidden-desktop {display:block;}
    header#navbar nav ul li a {padding:0 30px;}
    header#navbar nav ul li a:hover,
    header#navbar nav ul li a:focus {background-color:#000;}

    section#contact .container12 {max-width:480px;}

    section#welcome .logogroup {font-size:12px;}

    .container12 .column1,
    .container12 .column2,
    .container12 .column3,
    .container12 .column4,
    .container12 .column5,
    .container12 .column6,
    .container12 .column7,
    .container12 .column8,
    .container12 .column9,
    .container12 .column10,
    .container12 .column11,
    .container12 .column12 {margin:0 auto 20px; width:100%;}

    section#work-highlights a.item {margin-bottom:15px;}
    section#work-highlights a.item .hover-group {background-color:transparent; /*opacity:1;*/ position:static; top:auto; left:auto; /*right:auto;*/ width:auto; bottom:auto; text-align:left; margin-top:10px;}
    section#work-highlights a.item .hover-group-inner {position: static; transform: none;}
    section#work-highlights a.item .hover-group .project-category,
    section#work-highlights a.item .hover-group .project-name {color:inherit; font-size:0.8em; line-height:1.5em; text-align:left; margin:0; padding:0; color:#000;}
    section#work-highlights a.item .hover-group hr,
    section#work-highlights a.item .hover-group .project-type {display:none;}

    section#services .container12 a.service-item.column2 {display:block; max-width:220px; margin:0 auto 80px; padding-left:0; padding-right:0; float:none;}
    section#services a.service-item div[class*="services-icon"] svg #Hover_Group * {fill:#fff;}
    section#services a.service-item .services-title {margin-top:40px;}
    section#services a.service-item .services-title::before,
    section#services a.service-item .services-title::after {display:none;}

    section#services-statement {background-image:url(../img/BGS/bg-parallax-services-statement.jpg);}

    section#clients .container12 .column2 {width:50%; margin:0;}

    section#client-compliments .container12:last-of-type .column6:last-child {margin-bottom:0;}

    section#team .hover-group {display:none;}

    .nav-wrap a.item {margin-bottom:15px;}
    .nav-wrap a.item .project-name,
    .nav-wrap a.item .project-type {white-space:normal;}

    .page-subheader .social-icons {float:none;}
    .page-subheader .social-icons a {margin-left:0; margin-right:15px; float:none;}

    body.project-page .column4,
    body.project-page .column8,
    body.team-page .column4,
    body.team-page .column8 {margin-bottom:2%;}
    body.project-page .page-header .column4,
    body.project-page .page-header .column8 {margin-bottom:0;}
    .page-side-info::after {display:none;}
}


@media screen and (max-width:479px) {
    .container12 {box-sizing:border-box; width:100%; padding-left:20px; padding-right:20px;}

    .modal__body {width:90%;}

    section#welcome .logogroup {font-size:10px;}
    section#welcome .content-wrap svg {display:none;}

    body.team-page .teammate-position span {display:block; line-height:1.3em;}
    body.team-page .teammate-position span.position-title-header {padding-right:0;}
}


@media screen and (max-width:339px) {
    section#welcome .logogroup {font-size:9px;}
}
